{% extends 'base.html.twig'%}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %} {{ parent() }}

<div class="container">
<div class="row">
    <div class="col-sm">
{% for ad_pet in ad_pets %}

	<div class="card" style="width: 18rem; margin=10px;">
		<img src="{{ vich_uploader_asset(ad_pet, 'imageFile') }}" class="card-img-top" alt="{{ ad_pet.tittle }}"></img>
		 <div class="card-body">
			<h5 class="card-title">{{ ad_pet.tittle }}</h5>
		    <p class="card-text">{{ ad_pet.description }}</p>
		    <a href="{{ path('ad_pets_show', {'id': ad_pet.id}) }}" class="btn btn-primary">Mirar</a>
  </div>				
												
	{% else %}
		<tr>
			<td colspan="5">no records found</td>
		</tr>



{% endfor %}
</div>
</div>
</div>
 {% endblock %}


{% block javascripts %} {{ parent() }} {% endblock %} 