{% extends 'base.html.twig' %}

{% block title %}Anuncio index{% endblock %}

{% block body %}
    <h1>Anuncio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Foto</th>
                <th>Descripción</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for anuncio in anuncios %}
            <tr>
                <td>{{ anuncio.id }}</td>
                <td>{{ anuncio.titulo }}</td>
                <td><img src="{{ vich_uploader_asset(anuncio, 'imageFile') }}" alt="{{ anuncio.titulo }}" height="35"/>
                </td>
                <td>{{ anuncio.Descr }}</td>
                <td>
                    <a href="{{ path('anuncio_show', {'id': anuncio.id}) }}">Mostrar</a>
                    <a href="{{ path('anuncio_edit', {'id': anuncio.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('anuncio_new') }}">Nuevo Anuncio</a>
{% endblock %}
