{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
    <h1>Usuarios</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>NomUser</th>
                <td>{{ usuario.NomUser }}</td>
            </tr>
            <tr>
                <th>ApelUser</th>
                <td>{{ usuario.ApelUser }}</td>
            </tr>
            <tr>
                <th>EmailUser</th>
                <td>{{ usuario.EmailUser }}</td>
            </tr>
            <tr>
                <th>TelfUser</th>
                <td>{{ usuario.TelfUser }}</td>
            </tr>
            <tr>
                <th>PassUser</th>
                <td>{{ usuario.PassUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('usuarios_index') }}">back to list</a>

    <a href="{{ path('usuarios_edit', {'id': usuario.id}) }}">edit</a>

    {{ include('usuarios/_delete_form.html.twig') }}
{% endblock %}
