{% extends 'base.html.twig' %}
{% block body %}
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#fos_user_registration_form_country").change(function() {
            var data = {
                country_id: $(this).val()
            };
            $.ajax({
                type: 'post',
                url: '{{ path("cities_by_country") }}',
                data: data,
                success: function(data) {
                    var $city_selector = $('#fos_user_registration_form_city');
                    $city_selector.html('<option>Selecciona...</option>');
                    for (var i = 0, total = data.length; i < total; i++) {
                        $city_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}

