<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>

    {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img src="{{ asset('images/logotittle.png') }}" alt="Patitas Felices" width="150" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Iniciar Sesión <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark" href="{{ path('fos_user_security_login') }}" role="button">Publicar</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categoria
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('ad_pets_Busq', {'id': 1}) }}">Caninos</a>
                            <a class="dropdown-item" href="{{ path('ad_pets_Busq', {'id': 2}) }}">Felinos</a>
                        </div>
                    </li>
                </ul>


            </div>
        </nav>
    {% endif %}

    {% if is_granted("ROLE_USER") %}

    <nav class="navbar navbar-expand-lg navbar-light bg-success" style="background-color: #FF0000">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="{{ asset('images/logotittle.png') }}" alt="Patitas Felices" width="150" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('fos_user_profile_show') }}"> {{app.user.username}} <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light" href="{{ path('ad_pets_new') }}" role="button">Publicar</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{{ path('ad_pets_index') }}" >Mis publicaciones</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categoria
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('ad_pets_Busq', {'id': 1}) }}">Caninos</a>
                                <a class="dropdown-item" href="{{ path('ad_pets_Busq', {'id': 2}) }}">Felinos</a>
                            </div>
                        </li>

                        {% if is_granted("ROLE_SUPER_ADMIN") %}

                         <li class="nav-item">
                            <a class="nav-link" href="{{ path('country_index') }}" >Pais</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="{{ path('city_index') }}" >Ciudad</a>
                        </li>
                        {% endif %}


                    </ul>

                    <span class="mr-sm-2"><a href="{{ path('fos_user_security_logout') }}" class="badge badge-dark">Cerrar Sesión</a></span>
                </div>
            </nav>
    {% endif %}

    {% block out %}
    {% endblock %}

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <body class="d-flex flex-column">
    <div id="page-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h1 class="font-weight-light mt-4 text-white">Sticky Footer using Flexbox</h1>
                    <p class="lead text-white-50">Use just two Bootstrap 4 utility classes and three custom CSS rules and you will have a flexbox enabled sticky footer for your website!</p>
                </div>
            </div>
        </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; ESFOT - EPN</small>
        </div>
    </footer>
    </body>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block javascripts %}
    {% endblock javascripts %}
</html>
