{% extends 'base.html.twig' %}

{% block title %}AdPets{% endblock %}

{% block body %}
    <h1 align="center">AdPets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad_pet.id }}</td>
            </tr>
            <tr>
                <th>Tittle</th>
                <td>{{ ad_pet.tittle }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ vich_uploader_asset(ad_pet, 'imageFile') }}" alt="{{ ad_pet.tittle }}" height="150"/></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ad_pet.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ad_pet.status }}</td>
            </tr>
        </tbody>
    </table>

    <center><a href="{{ path('ad_pets_index') }}"><button type="button" class="btn btn-secondary" align="center">back to list</button></a></center> 
    
    <center><a href="{{ path('ad_pets_edit', {'id': ad_pet.id}) }}"><button type="button" class="btn btn-light" align="center">edit</button></a></center> 

    {{ include('ad_pets/_delete_form.html.twig') }}
{% endblock %}
