{% extends 'base.html.twig' %}

{% block title %}AdPets{% endblock %}

{% block body %}
    <h1 align="center" style="padding: 30px">Patitas Felices</h1>

    <div class="container">
        <div class="row">
            <div class=".col" style="padding: 5px">
                <a href="{{ path('ad_pets_index') }}"><button type="button" class="btn btn-secondary">Volver</button></a>
            </div>
    {% if is_granted("ROLE_USER") %}
            {% if  app.user.id == ad_pet.idUser.id %}
            <div class=".col" style="padding: 5px">
                <a href="{{ path('ad_pets_edit', {'id': ad_pet.id}) }}"><button type="button" class="btn btn-danger" align="center">Editar</button></a>
            </div>
            {% endif %}

        </div>
     {% endif %}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Título</th>
                <td>{{ ad_pet.tittle }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ ad_pet.description }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img src="{{ vich_uploader_asset(ad_pet, 'imageFile') }}" alt="{{ ad_pet.tittle }}" height="100" width="100" class="img-fluid" style="border: cadetblue 1px solid" /></td>
            </tr>
            <tr>
                <th></th>
                <td></td>
            </tr>
        </tbody>
    </table>





    {{ include('comment/hola.html.twig', {ad_pet: ad_pet}) }}

{% endblock %}
