{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    <h1>Macotas Registradas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad_pet.id }}</td>
            </tr>
            <tr>
                <th>Tittle</th>
                <td>{{ ad_pet.tittle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ad_pet.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ad_pet.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ad_pets_index') }}">back to list</a>

    <a href="{{ path('ad_pets_edit', {'id': ad_pet.id}) }}">edit</a>

    {{ include('ad_pets/_delete_form.html.twig') }}
{% endblock %}
