{% extends 'base.html.twig' %}

{% block title %}AdPets{% endblock %}

{% block body %}
    <h1 align="center" style="padding: 30px">Patitas Felices</h1>

    <div class="container">
        <div class="row">
            <div class=".col" style="padding: 5px">
                <a href="{{ path('ad_pets_index') }}"><button type="button" class="btn btn-secondary">Volver</button></a>
            </div>
    {% if is_granted("ROLE_USER") %}
            <div class=".col" style="padding: 5px">
                <a href="{{ path('ad_pets_edit', {'id': ad_pet.id}) }}"><button type="button" class="btn btn-danger" align="center">Editar</button></a>
            </div>
            <div class=".col" style="padding: 5px">
                {{ include('ad_pets/_delete_form.html.twig') }}
            </div>
        </div>
        {% endif %}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad_pet.id }}</td>
            </tr>
            <tr>
                <th>Tittle</th>
                <td>{{ ad_pet.tittle }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ vich_uploader_asset(ad_pet, 'imageFile') }}" alt="{{ ad_pet.tittle }}" height="100" width="100"/></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ad_pet.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ad_pet.status }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('comment/hola.html.twig') }}

{% endblock %}
